input[type=text].add-list-item {
	line-height: normal;
	border-radius: 3px;
	height: 35px;
	padding: 5px 10px;
	width: 75%;
}

.wp-dashboard-note-wrap {
	padding-bottom: 40px;
}

.wp-dashboard-note-options {
	text-align: left;
}
.wp-dashboard-note .list-item {
	height: 30px;
	width: 100%;
	display: block;
/*
	border-bottom: 1px solid #ddd;
	line-height: 300%;
*/
}
.wp-dashboard-note div:last-child {
	border-bottom: 0;
}

/* Sortable */
.wpdn-note-sortable {
	color: #999;
	margin-right: 5px;
	cursor: move;
	line-height: inherit;
	opacity: 0;
}
.list-item:hover .wpdn-note-sortable {
	opacity: 1;
}
.list-item .dashicons-no-alt {
	color: #ccc;
	text-align: right;
	float: right;
	cursor: pointer;
}
.list-item input[type='checkbox'] {
	margin-right: 15px;
	background: transparent;
	border-color: #555;
}
.list-item input[type=checkbox]:checked:before {
	color: #555;
}
.list-item input[type='checkbox']:checked ~ span {
	text-decoration:line-through;
	color: #6f6f6f;
}
.list-item .dashicons-no-alt:hover {
	color: #999;
}
.list-item:hover .dashicons-no-alt {
	display: block;
}
.list-item .dashicons-no-alt {
	display: none;
}
.wp-dashboard-note-wrap .wpdn-add-item {
	line-height: 2;
}
.list-item .wpdn-add-item {
	color: #ccc; 
	margin-right: 8px;
}
.list-item-content {
	line-height: 1;
}

.wp-dashboard-note-wrap:hover .wpdn-extra {
	opacity: 1;
}
.wpdn-extra {
	background: rgba( 76, 76, 76, 0.9 );
	position: absolute;
	opacity: 0;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 40px;
	padding-left: 20px;
	box-sizing: border-box;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
.wpdn-extra * {
	color: #fff;
	cursor: pointer;
}
.wpdn-extra *:hover {
	color: #ccc;
}
.wpdn-extra .dashicons {
	line-height: 2;
}
.wp-dashboard-note-wrap .dashicons {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.hndle span {
	cursor: text;
}
h3.hndle .dashicons {
	display: none;
	height: 19px;
	color: #999;
	cursor: pointer;
}
h3.hndle:hover .dashicons {
	display: inline-block;
}

/* Saving */
.saving-icon img {
	vertical-align: middle;
}
.saved-icon,
.saving-icon {
	color: #999;
}


/****************************
 * Colors
****************************/
span.wpdn-color-note:hover .wpdn-color-palette {
	display: inline-block;
}
.wpdn-color-palette {
	min-width: 50px;
	width: auto;
	padding: 4px 8px 2px 8px;
	margin-left: -8px;
	position: absolute;
	top: -24px;
	background-color: rgba(76, 76, 76, 0.9);
	height: 18px;
	display: none;
}

.color {
	width: 10px;
	height: 10px;
	border: 1px solid transparent;
	margin: 2.5px;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.color:hover {
	border: 1px solid #ccc;	
}
.color-white { background-color: #ffffff; }
.color-red { background-color: #f7846a; }
.color-orange { background-color: #ffbd22; }
.color-yellow { background-color: #eeee22; }
.color-blue { background-color: #66ccdd; }
.color-green { background-color: #bbe535; }
.color-black { background-color: #777777; }

/****************************
 * White
****************************/


/****************************
 * Red
****************************/
[data-color-text=red] {
	color: blue;
}
[data-color-text=red] .wpdn-note-sortable {
	color: blue;
}
[data-color-text=red] .wpdn-add-item {
	color: blue;
}
[data-color-text=red] .wp-dashboard-note .list-item {
	border-color: blue;
}
[data-color-text=red] input[type=checkbox] {
	border: 1px solid blue;
}
[data-color-text=red] .list-item input[type=checkbox]:checked ~ span {
	color: blue;
}